/* app css stylesheet */

@font-face {
    font-family: 'GCBubbles';
    src: url('fonts/GradeCamBubbles-Bubbles.eot');
    src: url('fonts/GradeCamBubbles-Bubbles.eot?#iefix') format('embedded-opentype'), url('fonts/GradeCamBubbles-Bubbles.woff') format('woff'), url('fonts/GradeCamBubbles-Bubbles.ttf') format('truetype'), url('fonts/GradeCamBubbles-Bubbles.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.bubbleRow { font-family: GCBubbles; }
